# *.txt
*.pth
*.out
transformer/wandb/*
**/.DS_Store
**/__pycache__/
**/*.err
**/*.out
**/*.txt
**/*.log
experiments/*
slurm_scripts/slurm_output/*

git add -f experiments/run_1
git add -f experiments/run_2
git add -f experiments/run_3
git add -f experiments/run_4