# *.txt
*.pth
*.out
transformer/wandb/*
**/.DS_Store
**/__pycache__/
**/*.err
**/*.out
**/*.txt
**/*.log
experiments/*
!experiments/run_1/
!experiments/run_2/
!experiments/run_3/
!experiments/run_4/
slurm_scripts/slurm_output/*
